<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        * {
            /* border: 1px black solid; */
            /* font-family: sans-serif; */
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col s9">
                <h2>Edit your favorite critter in the db!</h2>
            </div>
        </div><br>
        <form action="/critters/<%= critters_array._id %>" method="POST">
            <div class="row">
                <div class="col s2 ">Name:</div>
                <div class="col s3"><input type="text" name="ht_name" value="<%= critters_array.name %>"></div>
            </div><br>
            <div class="row">
                <div class="col s2 ">Age:</div>
                <div class="col s3"><input type="number" name="ht_age" value="<%= critters_array.age %>"></div>
            </div><br>
            <div class="row">
                <div class="col s2 ">Color:</div>
                <div class="col s3"><input type="text" name="ht_color" value="<%= critters_array.color %>"></div>
            </div>
            <div class="row">
                <div class="col s2"></div>
                <div class="col s2">
                    <input id="addbtn" type="submit" value="Make update"
                        class="waves-effect waves-light btn-small green left">
                </div>
                <div class="col s2">
                    <a class="waves-effect waves-light red btn" href="/">Cancel!</a>
                </div>
            </div>
        </form>

    </div>
    <% if(typeof(errors) != 'undefined' ) { %>
    <span style="color: red">Something went wrong</span>
    <p><%= errors%></p>
    <% for (var x in errors) { %>
    <h3><%= errors[x].messages %></h3>
    <% } %>
    <% } %>
</body>

</html>